.birthdayBlock {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.birthdaysBlock {
  flex: 1 1 auto;
  padding: 30px;
  margin-left: 15px;
  border-top: 1px solid rgb(255, 99, 0);
}
.listUsers {
  font-weight: 600;
  font-size: 18px;
}
.monthsBlock h3 {
  font-weight: bold;
}
