.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.birthdayBlock {
  flex: 0 1 50%;
}
/* .usersBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
